/* Author: Khando
Date */

* {
    margin: 0;
    padding: 0;
}
/* 
.main-container {
  margin: 0px 20vw;
  background-color: #cf99c9;
  overflow: auto;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cf99c9;
    width: 100vw;
    height: 4rem;
    align-items: center;
    justify-content: space-between
}
.header .logo {
    margin-left: 21vw;
    color: wheat;
    font-size: 2rem;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    margin-right: 21vw;
    color: wheat;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-bar li {
    margin-left: 1.5rem;
}

.banner img{
    width: 100%;
    margin-top: 4rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    display: grid;
    grid-template-rows: 2fr .5fr .5fr .5fr;
    margin: 1rem 2rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-items: center;
    border: 1px solid whitesmoke;
    border-radius: 7px;
}

.card img{
    max-width: 20rem;
    height: 17rem;
}

.card h3{
    color: wheat;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.card p {
    margin: 0.5rem 1rem;
}

.card button {
    width: 5rem;
    padding: 0.2rem;
    border-style: none;
    border-radius: 5px;
    font-weight: bolder;
    color: tomato;
} */

.main-container {
    background-color: #c963cf;
    min-height: 100vh;
    margin: 0 10vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6vw;
    background-color: #c963cf;
    position: absolute;
    top: 0;
    left: 0;
}

.logo h2 {
    margin-left: 10vw;
}

.header h2 {
    color: whitesmoke;
    font-size: 40px;
}

.nav-bar ul {
    display: flex;
    margin-right: 12vw;
    list-style: none;
}

.nav-bar li {
    margin-right: 20px;
    color: whitesmoke;
    font-size: 20px;
}

.nav-bar li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.banner img{
    width: 100%;
    margin-top: 6vw;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: #872f82;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 7px;
}

.card img{
    width: 200px;
    height: 170px;
}

.card h3 {
    margin: 5px 0px;
    color: wheat;
}

.card p {
    margin-bottom: 10px;
}

.card button {
    width: 100px;
    height: 20px;
    border-style: none;
    border-radius: 7px;
    font-weight: bolder;
}

