/* Author: Khando
Date */

* {
    margin: 0;
    padding: 0;
}

.main-container {
  margin: 0px 20vw;
  background-color: rgb(47, 123, 194);
  overflow: auto;
}

.first-inner-container {
    background-color: teal;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.second-inner-container {
    background-color: teal;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.firs-header { 
    margin: 0;
    padding: 10px;
    font-size:50px; 
    text-transform:uppercase; 
    text-align: center; 
    color: #0f8f49;
    
}

.first-para {
    font-size: 25px; 
    text-transform: capitalize;
    padding: 10px 25px;
    color: black;
    
}
.second{
font-size: 30px; 
color: #0f8f49; 
text-align: left; 
text-transform: capitalize;
}

.second-p{
text-transform: capitalize; 
font-size: 20px;
margin: 20px;
border: 2px solid rgb(0, 0, 0);
}

.first-image{
width: 500px;
margin: 0 auto;
}

.first-image img {
    object-fit: contain;
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
}


.where-is-tibet{
    border: 2px solid rgb(212, 212, 212);
    margin: 5px 20px;
}
