body {  
    background-color: rgb(214, 255, 250);
    margin: 0 10vw;
}
.header{ width: 100vw;
    position: absolute;
    height: 6vw;
    top: 0;
    left:0; 
    display: flex;
    justify-content:space-between;
    align-items: center; 
background-color: rgb(216, 214, 231);}

.logo h2 {
    margin-left:10v
}
.nav-bar ul {
    Display:flex;
    margin-right:14vw;
    list-style: none;
    width: 100px;
}
.nav-bar li {
    margin-right: 22px;
}

.banner img{
width: 100%;
margin-top: 6vw;
}

.cards{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
}

.card-about {
    text-align: center;
margin: 10px;
border: 1px solid skyblue;
border-radius : 7px;
background-color: rgb(245, 234, 255)
}
.card-project {
 text-align: center;
margin: 10px;
border: 1px solid   skyblue;
border-radius : 7px;background-color: rgb(245, 234, 255)

}
.card-blogs {
    text-align: center;
margin: 10px;
border: 1px solid skyblue;
border-radius : 7px;
color: black;background-color: rgb(245, 234, 255)
}

.cards img {
    width: 23vw;
    margin: 1vw;
}
.banner img {height:70vh}
.nav-bar { font-family:'Courier New', Courier, monospace ;}
.card-blogs img{ height: 40vh;}
.card-project img {height: 40vh}
.card-about img{height: 40vh}
.nav-bar li:hover{text-decoration: underline; cursor: pointer;}
