body { background-color: rgb(99, 184, 233);}

.main-container { 
    background-size: cover;}

.first { 
        font-size:40px; 
        text-transform:uppercase; 
        text-align: center; 
        color: green;
}
.first-p {font-size: 25px; 
        text-transform: capitalize;
        padding: 10px 25px 10px 25px;
        border: none;   
}
.second{
    font-size: 30px; 
    color: green; 
    text-align: left;
    text-transform: capitalize;
}
.second-p{
    border: 2px solid #000000; 
    text-transform: capitalize; 
    font-size: 20px;
    
}
.first-i{
    width: 0vw; 
    height: 0vh;
    margin: 0vw 0vw;
    border: 1px solid rgb(0, 0,0 );
    padding: 0vw 16vw;
}